DELTA_API_KEY=
DELTA_API_SECRET=

DELTA_REST_URL=https://api.india.delta.exchange
DELTA_WS_PUBLIC_URL=wss://public-socket.india.delta.exchange
DELTA_WS_PRIVATE_URL=wss://socket.india.delta.exchange

FYERS_APP_ID=

FEEDER_CONFIG_PATH=config/feeder.toml
FEEDER_MAX_EVENTS=25
